/* css for conference page */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

.hero-banner {
  position: relative;
  color: #FBF9F4;
  background-color: #1B3264;
  display: flex;
  justify-content: center;
}

.hero-banner h1 {
  color: #ffcc00;
  font-size: 2.5rem;
}

.hero-banner h3 {
  color: white;
  font-size: 2rem;
}


.hero-banner .hero-image {
  position: absolute;
  display: none;
  height: auto;
}

@media (min-width: 1000px) {
.hero-banner .hero-image {
  display: initial;
  width: 270px;
}
}

@media (min-width: 1200px) {
.hero-banner .hero-image {
  width: 340px;
}
}

@media (min-width: 1400px) {
.hero-banner .hero-image {
  width: 440px;
}
}

.hero-banner .hero-image p {
  margin-bottom: 0;
}

.hero-banner .hero-image-left {
  left: 0;
  bottom: 0;
}

.hero-banner .hero-image-right {
  right: 0;
  bottom: 10px;
}


.hero-banner .content-block {
  max-width: 600px;
  z-index: 2;
}

.hero-banner a {
  text-decoration: none;
}

.hero-banner h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.hero-banner h4 {
  margin-top: 0;
}

.hero-banner a[role="button"] {
  margin-right: 17px;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
}



.hero-banner #btn-guide {
  background-color: #ffcc00 !important;
  color: #1B3264;
  border: none;
}

.hero-banner ul {
  padding-inline-start: 21px;
  font-size: 1.1rem;
}

.hero-banner ul li {
  padding-bottom: 0.4rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
  	transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

.content-ct {
	text-align: center;
}

/* ------------------
	Navigation 
------------------ */
.side-menu {
	position: fixed;
	right: 30px;
	top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}

.side-menu ul li a {
  text-decoration: none;
}

.side-menu ul li a span {
	display: inline-block;
}
.side-menu ul li a span.menu-title {
	color: #ffcc00;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #1B3264;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #1B3264;
    border-radius: 2em;
    height: 10px;
    width: 10px;
  	transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
	transform: scale(1.8);
}


.hero-header {
	background: #1B3264;
	min-height: 600px;
	padding: 5em;
	color: #fff;
}
.hero-header h1 {
	margin: 1em 0 0 0;
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .btn {
	margin-top: 3em;
}

.hero-header #btn-guide {
  background-color: #ffcc00 !important;
  color: #1B3264;
  border: none;
  margin-top: 3em;
}

.hero-header .logo {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 400;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}




