/* scss:defaults */

$theme: "flatly" !default;


// gray colors 
$gray: #838f9f;
$gray-dark: #343a40;
$gray-50:  #f5f5f5;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-600: #95a5a6;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$gray-900: #212529;

// blue varients

$blue-90: #03050a;
$blue-80: #050a14;
$blue-70: #080f1e;
$blue-60: #0b1428;
$blue-50: #0e1932;
$blue-40: #101e3c;
$blue-30: #132346;
$blue-20: #162850;
$blue-10: #182d5a;
								
// AP-LS brand colors 
$blue: #1B3264;
$steel: #4271B3;
$cream: #FBF9F4;
$yellow: #FAF61B;
$gold: #ffdc90;


$primary: #191E29 !default;
$secondary: #0B0E14 !default;
$dark: #262626 !default;
$light: #faffd2 !default;

//callouts
$note: #E1E8F5 !default;
$tip: $yellow !default;
$caution: $gold !default; 

// main content
$body-bg:  $primary !default;
$body-color:  #fdfdfd !default;
$headings-color: #E1E8F5 !default;
$card-border-color:  $light !default;
$form-select-border-color: $yellow !default; 

// text specials
$link-color: $tip !default; 
$link-hover-color: $light !default;


// nav bar
$navbar-bg: lighten($body-bg, 10%);
//$navbar-fg: $yellow;
//$navbar-hl: $yellow;

// sidebar navigation
$sidebar-bg: $secondary;
//$sidebar-fg: lighten($secondary, 30%);

// footer
$footer-bg: lighten($body-bg, 10%);
//$footer-fg: lighten($secondary, 30%);


// fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// fonts
$headings-font-family: 'Cormorant Garamond', serif !default;
$headings-font-weight: 400 !default;
$font-family-sans-serif: 'Proza Libre', sans-serif !default;
$navbar-font-family: 'Proza Libre', sans-serif !default;
$sidebar-font-family: 'Proza Libre', sans-serif !default;
$toc-font-family: 'Proza Libre', sans-serif !default;
$footer-font-family: 'Proza Libre', sans-serif !default;
$callout-font-family: 'Proza Libre', sans-serif !default;

// font sizes
$font-size-base:   1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 3 !default;
$h2-font-size:     $font-size-base * 2.5 !default;
$h3-font-size:     $font-size-base * 2 !default;
$h4-font-size:     $font-size-base * 1.3 !default;
$h5-font-size:     $font-size-base * 1.2 !default;
$h6-font-size:     $font-size-base !default;



/*-- scss:rules --*/

.dark-mode { display: block; }
.light-mode { display: none; }

// navbar title
.navbar-title {
  font-size: $font-size-base * 1.75;
}


// navbar dropdown

div.navbar-nav ul.nav-link 
div.navbar-collapse ul.navbar-nav li {
  a {
    color: $primary;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
  }
}

div.navbar-collapse ul.navbar-nav li {
  a:hover {
    color: $light;
    background-color: $primary;
  }
}


// hover on navbar
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.3rem;
}
    

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $secondary;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $secondary;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $yellow;
}


// then override colors so they are pretty yellow


#navbarCollapse > ul > li:nth-child(1) > a:hover,
#navbarCollapse > ul > li:nth-child(1) > a:hover {
  color: $yellow;
}
  
#navbarCollapse > ul > li:nth-child(2) > a:hover,
#navbarCollapse > ul > li:nth-child(4) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(2) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(3) > a:hover,
#navbarCollapse > ul > li:nth-child(5) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(3) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(5) > a.nav-link.active {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(4) > a:hover,
#navbarCollapse > ul > li:nth-child(6) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(6) > a.nav-link.active {
  color: $yellow;
}


// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $secondary;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(1)::after, 
  .navbar .navbar-nav .nav-item:nth-child(1)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(2)::after, 
  .navbar .navbar-nav .nav-item:nth-child(4)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(3)::after, 
  .navbar .navbar-nav .nav-item:nth-child(5)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(4)::after, 
  .navbar .navbar-nav .nav-item:nth-child(6)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}

// nav footer

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3rem;
    font-family: $footer-font-family;

    a {
        color: $white;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4rem;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

// blocks of colored content 

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


.alt-background {
  background-color: $light;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.simple-info {
   text-align: center;
   color: $light;
   padding-bottom: 2rem;
}

.simple-info h2 {
   margin-top: 1rem;
   color: $headings-color;
   margin-bottom: 2rem;
}
.simple-info h3 {
   margin-top: 1rem;
   color: $headings-color;
   margin-bottom: 2rem;
}

// dark-alternative

.content-block-blue {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


.alt-background-blue {
  background-color: $light;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.simple-info-blue {
   text-align: center;
   color: $secondary;
   padding-bottom: 2rem;
}

.simple-info-blue h2 {
   margin-top: 1rem;
   color: $secondary;
   margin-bottom: 2rem;
}
.simple-info-blue h3 {
   margin-top: 1rem;
   color: $blue;
   margin-bottom: 2rem;
}



// title blocks
#title-block-header {
    .quarto-title-banner {
        font-family: $headings-font-family;
        font-size: 1.5rem;
        color: $secondary;
        
        .description {
            font-family: $navbar-font-family;
            font-size: 1.4rem;
            margin-top: 1rem !important;
        }
    }
}


// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
    font-size: 0.75rem;
}

.navbar {
    font-family: $navbar-font-family;
}

.navbar-nav {
  font-family: $navbar-font-family;
}

#TOC {
    font-family: $toc-font-family;
    padding-bottom: 0.1rem;

    .active {
        font-weight: 350;
    }

    #toc-title {
        font-weight: 500;
    }

}

// changes toc for listing pages
#quarto-margin-sidebar {
    .quarto-listing-category-title {
        margin-left: 0.5rem;
    }

    .quarto-listing-category {
        font-family: $toc-font-family;
        font-weight: 350;
        font-size: 0.85rem;
        line-height: 1;
        padding-left: 0.6rem;
        margin-left: 0.5rem;
        border-left: 1px solid $gray-300;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 350;
            color: $primary;
        }

        .quarto-category-count {
            font-weight: 150;
            font-size: 0.8rem;
            color: $yellow;
        }
    }
}


// set primary buttons 

.btn-action-primary {
  color: $secondary;
  background-color: $light !important;
}

.btn-action-primary:hover {
  text-decoration: bold;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}
// set tabset panel styles

.tab-pane {
  font-family: 'Proza Libre', sans-serif;
  padding: 5px;
  margin: 20px;
}

.box-shadow {
  box-shadow: 0 0 10px $light;
}

.tab-content {
  border: none;
  padding: 0;
}

.nav-tabs {
  font-family: 'Proza Libre', sans-serif;
  border-bottom: none;
}

.nav-tabs .nav-link {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: $body-color;
  min-width: 102px;
  border-radius: inherit;
  border: inherit;
}

.nav-tabs .nav-link:hover {
  border-bottom: 4px solid lighten($secondary, 30%);
  //padding-bottom: 2px;
}

.nav-tabs .nav-link.active {
  color: $light;
  border-bottom: 4px solid lighten($secondary, 30%);
  background-color: transparent;
}


// set callout styles

.top-callout {
  font-family: 'Proza Libre', sans-serif;
}

// home page cards

#card-primary-color {
  background-color: $body-bg;
  border: 4px solid lighten($secondary, 30%);
  border-radius: 5px;
}

.card {
  font-family: 'Proza Libre', sans-serif !important;
  color: $light;
  background-color: $blue;
    /* Target the h5 within the .card */
  h5 {
    color: $headings-color;
  }
}



.card-link {
    background-color: lighten($secondary, 30%);
    color: $secondary;
    border: 4px solid lighten($secondary, 30%);
    border-color: lighten($secondary, 30%);
    padding: 5px .5rem 5px .5rem !important;
    margin: 0;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;  
    font-size: $h5-font-size;
}

.card-link:hover {
  background-color: $light;
  color: lighten($secondary, 30%);
}

.card-footer-text {
  color: lighten($secondary, 30%);
  font-size: $h6-font-size;
  font-variant: small-caps;
}

/* grid cards */
h5, .h5{
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  text-decoration: bold;
  color: $headings-color;
  
}


.card:hover{
  transform: scale(1.05);
  border-color: lighten($primary, 30%);
  box-shadow: 0 10px 20px $light, 0 4px 8px $light;
}


// feature grids
.feature-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

.feature-grid__item {
    text-align: center;
    padding: 30px;
  }

.feature-grid__icon {
    padding-bottom: 15px;
  }
.feature-grid__link {
    border-bottom: 0px;
    text-decoration: none;
  }

.feature-grid__i {
    font-size: 3rem;
    color: $light;

  }
}

// for people pages
.officer-grid {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 15px;
  row-gap: 10px;
  margin-bottom: 30px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    border-top: $primary solid 5px;
    box-shadow: 2px 2px $light;
    border-radius: 0px 0px 10px 0px;
    vertical-align: top;
    max-width: 420px;
    text-align: left;
    position: relative;
    &:hover {
      background-color: $secondary; // Change this to the background color you want on hover
    }
  }

  &__image-container {
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__image {
    position: absolute;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
    width: 90%;
    height: 90%;
    align-content: center;
    object-fit: cover;
  }

  &__text {
    padding: 10px;
    color: $light;
  }

  &__name {
    margin-top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lighten($secondary, 30%) !important;
    font-size: 1.2rem;
    color: lighten($secondary, 30%);
  }
  
  &__link {
    color: $light;
    border-bottom: 0px;
    text-decoration: none;
  }
}


// for resources listings
.grid {
  display: inline-grid;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;

  &-two {
    grid-template-columns: repeat(1, 1fr);

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  &-three {
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
  }


  &__item {
    vertical-align: top;
    max-width: 460px;
    text-align: left;
    padding: 10px;
    position: relative;
    
    &:hover {
      background-color: $blue; // Change this to the background color you want on hover
    }
  }


  &__title {
    margin-top: 0;
    align-items: center;
    border-bottom: 1px solid $gray-50;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5rem;
    color: $light;
  }

  &__title-icon {
    color: $light;
  }

  &__link-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__list {
    margin-top: 10px;
  }

  &__item li:not(:last-child) {
    margin-bottom: 0;
  }

  &__title-link {
    color: $light;
    border-bottom: 0px;
    text-decoration: none;
  }

  &__item-footer {
    position: absolute;
    bottom: 0;
  }

  &__icon-footer {
    border-bottom: 0px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;

  }

  &__link-footer {
    border-bottom: 0px;
    text-decoration: none;
  }

  &__text {

    &--footer {
      margin-bottom: 2em;
    }
  }

  &__item-footer {
    position: absolute;
    bottom: 0;
  }
  
}


// boxed feature grid
.bg-light {
  background-color: $light !important;
}
.bg-breakout {
  position: relative;
  width: 100vw !important;
  left: calc(-1 * (100vw - 100%) / 2);
}

.inner-container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.boxed-wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: transparent;
}


.boxed-feature-grid {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxed-feature-grid__item {
  width: 50%;
  padding: 2rem 1rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: lighten($secondary, 30%);
  min-height: 8.375rem;
  border-bottom: 0.0625rem solid $gray;
  border-right: 0.0625rem solid $gray;
}

.boxed-feature-grid__item {
  width: calc(100% / 5);
  /* Adjust the width as necessary to display the desired number of items per row */
}

@media (max-width: 767px) {
  .boxed-feature-grid__item {
    width: calc(100% / 2);
    /* Adjust the width as necessary for smaller screens */
  }
}



.boxed-feature-grid__icon {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    i {
    font-size: 3.125rem;
    color: $light;
  }
  
}

.boxed-feature-grid__title {
      color: $light;
      margin-top: 1rem;
      font-weight: 600;
      text-align: center;
      font-size: 1;
    }

.boxed-feature-grid__link {
      border-bottom: 0px;
      text-decoration: none;
    }

// for custom grid listings

.gallery {
  display: inline-grid;
  grid-template-columns: 100px auto;


  &__icon-column {
    text-align: center;
  }

  &__list-column {

  }

  &__icon {
    font-size: 3rem;
  }

  &__link {
    padding-left: 1rem;
  }
}

.rt-th {
  border-bottom: 1px solid lighten($secondary, 30%) !important;
}

.object-table__list {
  display: inline-block;
  padding: 0;
  margin: 0;

  &-item {
    list-style-type: none;
  }
}



// job post listings

.jobs {
    .job-entry {
        display: flex;
        flex-direction: row;
        line-height: 1.3;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        column-gap: 1rem;

        .body {
            flex: 1 1 80%;
        }
        
        .metadata {
            flex: 1 0 20%;
        }

        .title {
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0.2em;
            
        }
        
        .details {
            font-weight: 300;
            font-size: 0.9em;
            margin-bottom: 0.5rem;
            color: $light;
        }
        
        .date {
            font-weight: 300;
            font-size: 0.85rem;
            margin-top: 0.3rem;
            text-align: right;
        }
        
        ul.job-links {
            display: inline-block;
            white-space: nowrap;
            background-color: lighten($secondary, 30%);
            margin: 0 0.2rem 0.4rem 0rem;
            padding: 0.2rem 0.4rem;
            font-size: 0.1rem;
            border-radius: 0.25rem;
            text-align: center;

            .job-link {
                display: inline-block;
                white-space: nowrap;
                margin: 0;
                padding: 0.5rem 1rem 0.5rem 0;
                font-size: 1rem;
            }
        }
    }
    
    .job-entry:hover {
   
    background-color: $secondary;
  
  }
}

// awards listings

#title-block-header {
    .quarto-title-banner {
        font-family: $headings-font-family;
        color: $light;
        
        .description {
            font-size: .75em;
            color: $light;
            margin-top: 1em !important;
        }
    }
}

.quarto-title-block {

    .quarto-title .quarto-categories {
        padding-bottom: 0;
        flex-wrap: wrap;
        row-gap: 0.4em;
    }

    .award-details {
        padding: 0.6em;
        margin: 1em 0;
    }

    .quarto-title-meta-heading.manual {
        margin-top: 1.5em !important;
    }

    .award-links {
        padding: 0;
        margin-bottom: 0;
    }

    .award-link {
        display: inline-block;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }
    
    

}

h1.title {
  color: white;
}


.back-nav {
    margin-bottom: .5em;
}

.award {
    .back-nav a {
        color: shift-color($primary, -75%);
    }
    
    .quarto-title .quarto-categories .quarto-category {
        background-color: $light;
        color: $light;
        opacity: 1;
    }

    .award-categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0.35em 0 0.35em;
        padding-top: 0.35em;
        padding-left: 0.5em;
        padding-bottom: 0;
        row-gap: 0.2em;
        column-gap: 0.3em;

        .award-category {
            padding: 0.25em 0.75em 0.25em 0em;
            font-size: 0.4em;
            text-transform: uppercase;
        }
    }
}

.award-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.award {
            margin-bottom: 1.5em;
            border-left: 6px solid shift-color($primary, -90%);

            p {
                margin: 0;
            }
        }
    }

    .award-content {
        padding-left: 0.5em;
}
        .status {
            font-size: .8rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    ul.award-links {
        margin-bottom: 0;
    }

    .award-details-listing {
        margin-top: 0.8em;
        background-color: shift-color($primary, -75%);
        font-size: 0.5rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.7rem;
        }

        .award-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            background-color: $light;
            padding-right: 1.5em;

            a {
                color: #FFFFFF;
            }
        }
    }

  
.card {
  position: relative;
  border: none;
  flex: 1 1 100%;
  margin: 31px 0;
  padding: 15px 0;
  background: lighten($primary, 3%);
  box-shadow:  0.3px 0.5px 0.7px hsl(216, 48%, 28%, 0.34),
  0.4px 0.8px 1px -1.2px hsl(216, 48%, 28%, 0.34),
  1px 2px 2.5px -2.5px hsl(216, 48%, 28%, 0.34);
  

  @media screen and (min-width: 768px) {
    flex-basis: calc(33.33% - (#{31px * 2} + #{20px * 2}));
    margin: 0 31px;
  }
}

.card .semester {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}



/* grid cards */

h5, .h5{
  font-family: $font-family-sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: bold;
  
}


.quarto-grid-item {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow:
      0.3px 0.5px 0.7px hsl(216, 48%, 28%, 0.36), 
      0.8px 1.6px 2px -0.8px hsl(216, 48%, 28%, 0.36), 
      2.1px 4.1px 5.2px -1.7px hsl(216, 48%, 28%, 0.36), 
      5px 10px 12.6px -2.5px hsl(216, 48%, 28%, 0.36); 
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: .5em;
}

.quarto-grid-item .listing-categories .listing-category {
  color: $headings-color;
  border: solid 1px $headings-color !important;
  //background-color: darken($headings-color, 20%);
  font-weight: 400;
  font-size: .7em;
}

.quarto-grid-item .card-attribution.justify {
  justify-content: left;
}

// Makes List of icons, text to insert into callout blocks with r function

.inline-object {
  font-family: 'Proza Libre', sans-serif;
  display: inline-block;
  padding-right: 20px; /* add padding between icon and text */
  font-size: 1rem; /* adjust font size as desired */
}

.inline-object i {
  display: inline-block;
  color: $primary; /* adjust color as desired */
  margin-right: 5px; /* add margin between icon and text */
}

.inline-object a {
  text-decoration: none;
  color: $primary; /* adjust color as desired */
}

.inline-object:hover {
  background-color: $secondary;
}

// info section-click link

.info-section {
  background-color: $gold;
  color: lighten($primary, 30%);

  a {
    min-width: 130px;
    height: 40px;
    color: $primary;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid $gold;
    background: $gold;
    font-size: .8rem;
    text-transform: uppercase;

    &::after {
      display: inline-block;
      content: "→";
      position: absolute;
      margin-right: 2px;
    }
  }

  .about-link a {
    text-decoration: underline;
    font-weight: normal;

    &:hover {
        background: #fff;
      color: #ffd700
    }
  }
}


.icon-container i {
  display: flex;
  margin-left: 8rem; /* Add 10 pixels of space between the icon and text */
  color: $gray;
}

// info bar-button

.info-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.info-bar {
  background-color: $gold;
  color: $primary;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
}

.info-bar__icon {
  //border-radius: 50%;
  width: 4.35rem;
  height: 4.35rem;
  margin-right: 5rem;
  font-size: 2.2rem;
  background-color: $body-bg;
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  order: 1;
  border: 1px solid #D7DBDD;
  border-radius: 100%;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}


.info-bar__text {
  flex: 1;
  text-align: margin-left;
  order: 2;
  color: $primary;
  text-size: .8rem;
}

.info-bar__text h3 {
  color: $secondary;
  text-decoration: bold;
}
.info-bar__center {
  flex-shrink: 0;
  margin-left: 1.5rem;
  order: 3;
}


// blockquotes

blockquote {
  margin: 0 0 1em;
  font-size: 1.25rem;
}
blockquote > :last-child {
  margin-bottom: 0;
}

figcaption.blockquote-footer {
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

figcaption.blockquote-footer > cite {
  flex: 1 1 100%;
}

// button-row

.button-row {
  display: flex; /* Set the container to use flexbox layout */
  flex-direction: row; /* Set the direction to row */
  justify-content: space-between; /* Align the items along the row and distribute the space between them */
  gap: 10px;
}

.button-row button {
  padding: 10px 20px; /* Add padding to the buttons */
  background-color: $primary; /* Set a background color */
  color: white; /* Set a text color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add a border radius */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.button-row button:hover {
  background-color: $secondary; /* Change the background color on hover */
}


// committees listing 

.committee-list {
  font-family: $font-family-sans-serif;

  .title {
    font-size: 1.5rem;
  }

  .committees-table {
    margin-top: 1rem;
    font-size: 0.9375rem;
    border: 1px solid hsl(213, 33%, 93%);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

    .header {
      background-color: $primary;
      border-bottom-color: $secondary;
      border-bottom-width: 1px;
      color: $light;

      &[aria-sort]:hover,
      &[aria-sort]:focus {
        color: hsl(213, 55%, 50%);
      }
    }

    .committee-title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $headings-color;
      background-color: $primary;
    }

    .committee-detail {
      padding: 24px;
      box-shadow: inset 0 1px 3px $light;
      background: $primary;
      font-family: $font-family-sans-serif;

      .detail-label {
        margin: 1.25rem 0 0.25rem;
        font-size: 0.95rem;
        color: $headings-color;
        text-transform: uppercase;
      }

      .detail-header {
        margin-bottom: 1rem;
        font-size: 1.35rem;
        font-weight: 600;
      }

      .detail-title {
        margin-left: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: $light;
      }

      .detail-description {
        font-size: 0.875rem;
      }
    }

    .members-table {
      max-width: 75rem;
      border: 1px solid hsl(213, 33%, 93%);
      border-radius: 4px;
      box-shadow: 0 2px 7px 0 $light;
      font-size: 0.875rem;
      color: $headings-color;
      background-color: $secondary;
      font-family: $font-family-sans-serif;
    }
  }
}

//syllabi table
.syllabi {
  font-family: 'Proza Libre', sans-serif;
  
  h2 {
    font-weight: 600;
  }
  
  a {
    color: yellow;
    text-decoration: none;
    
    &:hover, &:focus {
      text-decoration: underline;
      text-decoration-thickness: max(1px, 0.0625rem);
    }
  }
}

.syllabi-tbl {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: $headings-color !important;
}

.header {
  border-bottom-color: $light;
  color: $light;
  background: $primary;
  font-weight: 500;
  text-align: left;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  padding: 5px;
  border: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: -32px;
  
  .filter-input {
    margin-top: 0.5rem;
    margin-left: 32px;
    flex: 1;
    min-width: 250px;
    
    label {
      color: $headings-color;
      font-weight: 600;
      font-size: 0.80rem;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    
    select,
    input[type="search"] {
      padding: 0 0.375rem;
      height: 2rem;
    }
  }
}

/* When selected, the text is yellow */
.header[aria-sort='ascending'],
.header[aria-sort='descending'] {
  color: yellow;
}

@media only screen and (max-width: 600px) {
  .screen-inset {
    .my-reactable-table {
      font-size: 14px;
      width: 100%;
    }
    
    .crosstalk-filtered-select {
      width: 100%;
    }
    
    .crosstalk-filtered-checkbox {
      display: block;
      margin-bottom: 10px;
    }
  }
}


// pricing tables
.price-card {
  border-bottom-width: 2px;
  border-color: $light;
  border: 1px;
  background-color: $body-bg;
  box-shadow:
    0.3px 0.5px 0.7px hsl(67deg 37% 57% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(67deg 37% 57% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(67deg 37% 57% / 0.36),
    5px 10px 12.6px -2.5px hsl(67deg 37% 57% / 0.36);
  border-radius: 0px;
  transition: all .3s ease-in-out;
  padding: 1.1rem 0;
  position: relative;
  will-change: transform;

  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: $light;
    transition: 0.5s;
  }
  
  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 hsl(67deg 37% 57%);
    box-shadow: 0 20px 35px 0 hsl(67deg 37% 57%);
    
    &:after {
      width: 100%;
    }
    
  }
  & .price-card-header {
    background-color: $body-bg;
    padding-left: 2rem;
    border-bottom: 0px;
  }
  & .price-card-title {
    margin-bottom: 1rem;
    color: lighten($body-bg, 40%);
    font-size: 1.75rem;
  }
  & .price-card-block {
    padding-top: 0;
  }
  & .price-card-subtitle{
    letter-spacing: 0;
    color: $headings-color;
    //font-variant: small-caps;
    font-size: .9rem;
    margin-left: 5px;
    //text-align: center;
    margin-bottom: .6rem;
  }
  .list-group-item {
  border: 0px;
  padding: .25rem;
  color: $headings-color;
  font-weight: 300;
  font-size: 1rem;
  list-style: none; /* Remove default list item bullets */
  position: relative; /* Create a relative position for ::before pseudo-element */
  margin-left: 30px; /* Indent the list items by 30px */
  display: flex; /* Use a flexbox layout */
  align-items: center; 
  margin-bottom: .5rem;
  background-color: $body-bg;
  
  &::before {
    content: '\f058'; /* Unicode character for the circle check icon */
    font-family: 'Font Awesome 5 Free'; /* Font Awesome font family */
    font-weight: 900; /* Font weight for the circle check icon */
    margin-right: 10px; /* Space between the icon and text */
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    text-align: center;
    color: $headings-color; /* Color of the icon */
    font-size: 1rem; /* Font size of the icon */
    position: absolute;
    left: -30px; /* Adjust the position as needed */
  }
}
}

// Price
.display-2 {
  font-size: 7rem;
  letter-spacing: -.35rem;
  font-family: $headings-font-family;
  color: $light;
  & .currency {
    font-size: 2.75rem;
    position: relative;
    font-weight: 300 + 100;
    top: -45px;
    letter-spacing: 0px;
  }
  & .period {
    font-size: 1.5rem;
    color: $headings-color;
    letter-spacing: 0px;
  }
}

// Price Buttons
.price-btn {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 300 + 200;
  color: lighten($body-bg, 40%);
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.price-btn-gradient { 
  background-color: $body-bg;
  transition: background .3s ease-in-out;
  
  &:hover {
    color: $primary;
    background-color: $light;
  }
}
// dark mode images
@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

// font awesome
.fa-solid {
    color: $light;
}