/* scss:defaults */

$theme: "flatly" !default;

// gray colors 
$gray: #737475;
$gray-dark: #343a40;
$gray-50:  #f5f5f5;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-600: #95a5a6;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$gray-900: #212529;

// blue varients

$blue-90: #e8ebf0;
$blue-80: #d1d6e0;
$blue-70: #bbc2d1;
$blue-60: #a4adc1;
$blue-50: #8d99b2;
$blue-40: #7684a2;
$blue-30: #5f7093;
$blue-20: #495b83;
$blue-10: #324774;

// AP-LS brand colors 
$blue: #1B3264;
$steel: #4271B3;
$cream: #FBF9F4;
$yellow: #ffcc00;
$gold: #ffcc00;

$primary:  $blue !default;
$secondary: $cream !default;
$info: $steel !default;

// main content
$body-bg:  lighten($secondary, 2%) !default;
$body-color:  $gray-900 !default;
$headings-color: $primary !default;

// text specials
$link-color: $primary !default; 
$link-hover-color: $gray-700 !default;
$text-muted: $gray-700 !default;

// nav bar
$navbar-bg: $primary;
$navbar-fg: $secondary;
$navbar-hl: $yellow;

// sidebar navigation
$sidebar-fg: $primary;

// footer
$footer-bg: $primary;
$footer-fg: $secondary;

// fonts
$headings-font-family: 'Cormorant Garamond', serif !default;
$font-family-sans-serif: 'Proza Libre', sans-serif !default;
$navbar-font-family: 'Proza Libre', sans-serif !default;
$sidebar-font-family: 'Proza Libre', sans-serif !default;
$toc-font-family: 'Proza Libre', sans-serif !default;
$footer-font-family: 'Proza Libre', sans-serif !default;
$callout-font-family: 'Proza Libre', sans-serif !default;

// font sizes
$font-size-base:   1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:     $font-size-base * 2.8 !default;
$h2-font-size:     $font-size-base * 2.4 !default;
$h3-font-size:     $font-size-base * 2 !default;
$h4-font-size:     $font-size-base * 1.5 !default;
$h5-font-size:     $font-size-base * 1.2 !default;
$h6-font-size:     $font-size-base !default;

$headings-font-weight: 600 !default;
$main-font-weight: 300 !default;


// Cards
$card-spacer-x:                     1.5rem !default;
$card-cap-padding-y:                1rem !default;
$card-cap-padding-x:                1.5rem !default;

// List group

$list-group-item-padding-y:         1rem !default;
$list-group-item-padding-x:         1.5rem !default;

// theme colors
$code-bg: $secondary !default; //color for background of inline code
$code-color: $primary !default; //color for the font of inline code
$code-block-bg: $secondary !default; //color for background of blocks of code
$code-block-color: $primary !default; //color for the font of blocks of code
$code-block-border-color: $primary !default; //color for the border of blocks of code
$btn-code-copy-color-active: $primary !default;


/*-- scss:rules --*/

.light-mode { display: block; }
.dark-mode { display: none; }

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




// navbar title
.navbar-title {
  font-size: $font-size-base * 1.75;
}


// navbar dropdown

div.navbar-nav ul.nav-link 
div.navbar-collapse ul.navbar-nav li {
  a {
    color: $primary;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
  }
}

div.navbar-collapse ul.navbar-nav li {
  a:hover {
    color: $yellow;
    background-color: $primary;
  }
}


// hover on navbar
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.3rem;
}
    

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $secondary;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $secondary;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $yellow;
}


// then override colors so they are pretty yellow


#navbarCollapse > ul > li:nth-child(1) > a:hover,
#navbarCollapse > ul > li:nth-child(1) > a:hover {
  color: $yellow;
}
  
#navbarCollapse > ul > li:nth-child(2) > a:hover,
#navbarCollapse > ul > li:nth-child(4) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(2) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(3) > a:hover,
#navbarCollapse > ul > li:nth-child(5) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(3) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(5) > a.nav-link.active {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(4) > a:hover,
#navbarCollapse > ul > li:nth-child(6) > a:hover {
  color: $yellow;
}

#navbarCollapse > ul > li:nth-child(4) > a.nav-link.active,
#navbarCollapse > ul > li:nth-child(6) > a.nav-link.active {
  color: $yellow;
}


// animated underline on hover, when navbar shows as row
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $secondary;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(1)::after, 
  .navbar .navbar-nav .nav-item:nth-child(1)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(2)::after, 
  .navbar .navbar-nav .nav-item:nth-child(4)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(3)::after, 
  .navbar .navbar-nav .nav-item:nth-child(5)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:nth-child(4)::after, 
  .navbar .navbar-nav .nav-item:nth-child(6)::after {
    background-color: $yellow;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}

// nav footer

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3rem;
    font-family: $footer-font-family;

    a {
        color: $white;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4rem;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

// blocks of colored content 

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


.alt-background {
  background-color: $secondary;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.simple-info {
   text-align: left;
   color: $body-color;
   font-weight: 400;
   padding-bottom: 2rem;
}

.simple-info h2 {
   margin-top: 1rem;
   color: $primary;
   margin-bottom: 2rem;
}
.simple-info h3 {
   margin-top: 1rem;
   color: $primary;
   margin-bottom: 2rem;
}

.simple-info h5 {
   margin-top: 1rem;
   color: $primary;
   margin-bottom: 2rem;
}

// dark-alternative

.content-block-blue {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


.alt-background-blue {
  background-color: $primary;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.simple-info-blue {
   text-align: center;
   color: $secondary;
   padding-bottom: 2rem;
}

.simple-info-blue h2 {
   margin-top: 1rem;
   color: $secondary;
   margin-bottom: 2rem;
}
.simple-info-blue h3 {
   margin-top: 1rem;
   color: $light;
   margin-bottom: 2rem;
}

.simple-info-blue h5 {
   margin-top: 1rem;
   color: $light;
   font-size: 1.7rem;
   margin-bottom: 1rem;
}


// highlighting 

%common-highlight {
  text-transform: uppercase;
  border-radius: 6px;
  padding: 3px 6px;
  //padding: 4px;
  font-weight: 900;
  //border-radius: 4px;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: calc(1em - 0.4em); // smaller than inherited font-size

}

.highlight {
  @extend %common-highlight;
  background-color: $primary;
  color: $gold;
}

.highlight-bright {
  @extend %common-highlight;
  background-color: $gold;
  color: $primary;
}



// avatar

.avatar {
  // width: 250px;
  // height: 250px;
   margin-bottom: 40px;
   margin-right: 25px;
   position: relative;
   float: left;
  height: 14rem; // 16 * 0.25rem = 4rem
  width: 14rem; // 16 * 0.25rem = 4rem
  border-radius: 50%;
  //border: 4px solid $black;
  background-size: cover;
  background-position: center;
  //box-shadow: $avatar-shadow;
  transition: all 0.3s;

  &:hover {
    transform: translateX(3px) translateY(3px);
    box-shadow: none;
  }

  &:hover {
    transform: translateX(3px) translateY(3px);
    box-shadow: none;
  }

  // Adjust size for tablet screens
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 12rem;
    height: 12rem;
  }

  // Adjust size for mobile screens
  @media (max-width: 767px) {
    width: 10rem;
    height: 10rem;
    margin-bottom: 25px;
    margin-right: 15px;
  }
}

// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
    font-size: 0.75rem;
}

.navbar {
    font-family: $navbar-font-family;
}

.navbar-nav {
  font-family: $navbar-font-family;
}

#TOC {
    font-family: $toc-font-family;
    padding-bottom: 0.1rem;

    .active {
        font-weight: 400;
    }

    #toc-title {
        font-weight: 600;
    }

}

// changes toc for listing pages
#quarto-margin-sidebar {
    .quarto-listing-category-title {
        margin-left: 0.5rem;
    }

    .quarto-listing-category {
        font-family: $toc-font-family;
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 1;
        padding-left: 0.6rem;
        margin-left: 0.5rem;
        border-left: 1px solid $gray-300;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 300;
            color: $primary;
        }

        .quarto-category-count {
            font-weight: 200;
            font-size: 0.8rem;
            color: $light;
        }
    }
}


// set primary buttons 

.btn-action-primary {
  color: $secondary;
  background-color: shade-color($primary, 10%);
  
  a {
    color: $gold;
}
  &:hover {
    color: $gold;
}
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
}

// Outline buttons

.btn-light,
.btn-outline-primary,
.btn-outline-light {
  color: $gray-800;
  text-transform: uppercase;

  &:disabled,
  &.disabled {
    border: 1px solid shade-color($primary, 30%);
  }
}

.btn-outline-primary {
  border-color: shade-color($primary, 10%);

  &:hover,
  &:active {
    background-color: shade-color($primary, 10%);
    border-color: shade-color($primary, 10%);
  }
}

.btn-light,
.btn-outline-light {
  border-color: shade-color($light, 10%);

  &:hover,
  &:active {
    background-color: shade-color($light, 10%);
    border-color: shade-color($light, 10%);
  }
}

// set tabset panel styles

.tab-pane {
  font-family: 'Proza Libre', sans-serif;
  padding: 5px;
  margin: 20px;

}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tab-content {
  border: none;
  padding: 0;
  background-color: lighten($secondary, 5%);
}

.nav-tabs {
  font-family: 'Proza Libre', sans-serif;
  border-bottom: none;
}

.nav-tabs .nav-link {
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: $gray-dark;
  min-width: 102px;
  border-radius: inherit;
  border: inherit;
}

.nav-tabs .nav-link:hover {
  border-bottom: 4px solid $primary;
  //padding-bottom: 2px;
}

.nav-tabs .nav-link.active {
  color: $primary;
  border-bottom: 4px solid $primary;
  background-color: transparent;
}


// set callout styles

.top-callout {
  font-family: 'Proza Libre', sans-serif;
}


// feature grids
.feature-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

.feature-grid__item {
    text-align: center;
    padding: 30px;
  }

.feature-grid__icon {
    padding-bottom: 15px;
  }
.feature-grid__link {
    border-bottom: 0px;
    text-decoration: none;
  }

.feature-grid__i {
    font-size: 3rem;
    color: #000;

    &:hover {
      color: $primary;
    }
  }
}

// for people pages
.officer-grid {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 15px;
  row-gap: 10px;
  margin-bottom: 24px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    border-top: $primary solid 5px;
    box-shadow: 2px 2px #00000011;
    border-radius: 0px 0px 10px 0px;
    vertical-align: top;
    max-width: 420px;
    text-align: left;
    position: relative;
    font-family: $font-family-sans-serif;
    font-weight: 900;

    &:hover {
      background-color: $secondary;
    }
  }

  &__image-container {
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__image {
    position: absolute;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
    width: 90%;
    height: 90%;
    align-content: center;
    object-fit: cover;
  }

  &__text {
    padding: 5px;
    color: $primary;
    font-size: 1.1rem;
  }

  &__name {
    margin-top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray;
    font-size: 1.2rem;
    color: $primary;
  }
  
  &__link {
    color: $primary;
    border-bottom: 0px;
    text-decoration: none;
  }
}


// for resources listings
.grid {
  display: inline-grid;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;

  &-two {
    grid-template-columns: repeat(1, 1fr);

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  &-three {
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
  }


  &__item {
    vertical-align: top;
    max-width: 460px;
    text-align: left;
    padding: 10px;
    position: relative;

    &:hover {
      background-color: $secondary;
    }
  }

  &__title {
    margin-top: 0;
    align-items: center;
    border-bottom: 1px solid $gray-50;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 0.5rem;
    color: $primary;
  }

  &__title-icon {
    color: $black;
  }

  &__link-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__list {
    margin-top: 10px;
  }

  &__item li:not(:last-child) {
    margin-bottom: 0;
  }

  &__title-link {
    color: $primary;
    border-bottom: 0px;
    text-decoration: none;
  }

  &__item-footer {
    position: absolute;
    bottom: 0;
  }

  &__icon-footer {
    border-bottom: 0px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;

    &:hover {
      color: $steel;
    }
  }

  &__link-footer {
    border-bottom: 0px;
    text-decoration: none;
  }

  &__text {

    &--footer {
      margin-bottom: 2em;
    }
  }

  &__item-footer {
    position: absolute;
    bottom: 0;
  }
}

// boxed feature grid
.bg-light {
  background-color: $primary !important;
}
.bg-breakout {
  position: relative;
  width: 100vw !important;
  left: calc(-1 * (100vw - 100%) / 2);
}

.inner-container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.boxed-wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: transparent;
}


.boxed-feature-grid {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.boxed-feature-grid__item {
  width: 50%;
  padding: 2rem 1rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 8.375rem;
  border-bottom: 0.0625rem solid #dee2e6;
  border-right: 0.0625rem solid #dee2e6;
}

.boxed-feature-grid__item {
  width: calc(100% / 5);
  /* Adjust the width as necessary to display the desired number of items per row */
}

@media (max-width: 767px) {
  .boxed-feature-grid__item {
    width: calc(100% / 2);
    /* Adjust the width as necessary for smaller screens */
  }
}



.boxed-feature-grid__icon {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    i {
    font-size: 3.125rem;
    color: $primary;
  }
  
  &:hover {
    color: $steel;
  }
}

.boxed-feature-grid__title {
      color: $primary;
      margin-top: 1rem;
      font-weight: 600;
      text-align: center;
      font-size: 1;
    }

.boxed-feature-grid__link {
      border-bottom: 0px;
      text-decoration: none;
    }

// for custom grid listings

.gallery {
  display: inline-grid;
  grid-template-columns: 100px auto;


  &__icon-column {
    text-align: center;
  }

  &__list-column {

  }

  &__icon {
    font-size: 3rem;
  }

  &__link {
    padding-left: 1rem;
  }
}

.rt-th {
  border-bottom: 1px solid $secondary !important;
}

.object-table__list {
  display: inline-block;
  padding: 0;
  margin: 0;

  &-item {
    list-style-type: none;
  }
}



// job post listings

.jobs {
  .job-entry {
    display: flex;
    flex-direction: row;
    line-height: 1.3;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    column-gap: 1rem;

    .body {
      flex: 1 1 80%;
    }

    .metadata {
      flex: 1 0 20%;
    }

    .title {
      font-weight: 500;
      font-size: 1.25em;
      margin-bottom: 0.2em;
    }

    .details {
      font-weight: 300;
      font-size: 0.9em;
      margin-bottom: 0.5rem;
      color: $gray-700; /* Replace with your desired text color */
    }

    .date {
      font-weight: 300;
      font-size: 0.85rem;
      margin-top: 0.3rem;
      text-align: right;
    }

    ul.job-links {
      display: inline-block;
      white-space: nowrap;
      background-color: $secondary; /* Replace with your desired background color */
      color: $primary; /* Replace with your desired text color */
      margin: 0 0.2rem 0.4rem 0rem;
      padding: 0.2rem 0.4rem;
      font-size: 1rem;
      text-decoration: none;
      border-radius: 0.25rem;
      text-align: center;

      .job-link {
        display: inline-block;
        white-space: nowrap;
        margin: 0;
        padding: 0.5rem 1rem 0.5rem 0;
        font-size: 1rem;
      }
    }
  }

  .job-entry:hover {
    background-color: shift-color($primary, -85%);/* Replace with your desired hover background color */
  }
}

.job-listing-name {
  color: white;
  
       &:hover {
          color: $yellow;
        }  
}

/* Style for the button */
.job-btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: $primary;

  &:hover {
    background-color: $primary;
  }

  &:active {
    top: 2px;
  }
}

// custom labels for metadata-quarto listings

.custom-meta {
  .custom-meta-row {
    display: flex;
    flex-wrap: wrap; // Allow the items to wrap on smaller screens

    // Target all items for default mobile view styling
    > * {
      flex: 0 0 100%; // Each item takes full width on smaller screens
      margin-right: 0; // Reset any right margin on smaller screens
      margin-bottom: 10px; // Adds a little space between items on mobile
    }

    // On larger screens, adjust the items to be in groups of two
    @include media-breakpoint-up(md) {
      > * {
        flex: 0 0 calc(50% - 10px); // Each item takes up half the space minus margin on medium screens and up
        // Apply margin to even items, so it creates space after every two items
        &:nth-child(2n) {
          margin-right: 0; // Even items don't need margin on the right
        }
        &:nth-child(2n+1) {
          margin-right: 10px; // Odd items will have margin on the right
        }
      }
    }
  }
}



// workshops & event listings

.event-post {
    .quarto-title .title {
      font-size: 1.2rem;
    }
    
    .quarto-title .subtitle {
      font-size: 1.2rem;
    }
    .quarto-title .quarto-categories {
        margin-top: 0.5rem;
        
        .quarto-category {
            background-color: shift-color($primary, -25%);
            border-color: shift-color($primary, -45%);
            color: $white;
            font-size: 0.9em;
            opacity: 1;
        }
    }
    
    .quarto-title-meta-heading {
      margin-top: 0.5rem;
    }
    .quarto-title-meta-contents .objectives{
        margin-top: 0.5rem;
        padding-left: 20px;
        font-size: .9rem;
    }
}


// grants & awards listings

.award-post {
    .quarto-title .title {
      font-size: 1.5rem;
    }
    
    .quarto-title .description {
      font-size: 1rem;
      font-weight: 300;
    }
    .quarto-title .quarto-categories {
        margin-top: 0.5rem;
        
        .quarto-category {
            background-color: shift-color($primary, -25%);
            border-color: shift-color($primary, -45%);
            color: $white;
            font-size: .75rem;
            opacity: 1;
        }
    }
    
    .quarto-title-meta-heading {
      margin-bottom: 0.35rem;
      font-size: 1.5rem;
    }
    .quarto-title-meta-contents .submission-info{
        padding-left: 0;
        font-size: .9rem;
    }
}

// quarto grid listings

.quarto-title-banner .quarto-title .title {
  font-weight: 400;
  color: shift-color($primary, -75%);
  font-size: calc(1.5rem + 1.14vw);

  #title-block-header.quarto-title-block & {
    margin-bottom: 0.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: calc(2rem + 1.14vw);
  }
}


div.quarto-post .listing-categories .listing-category,
.quarto-title-block .quarto-title .quarto-categories .quarto-category {
  border-color: $blue-30;
  color: $blue-10;
  background-color: $blue-90;
  opacity: 0.6;
}


#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: .875rem;
}

.quarto-listing-category .category {
  font-weight: 500;
  font-size: .825rem;
}

.quarto-listing-category .category.active {
  font-weight: 500;
  color: $primary;
}

// hero-banner
.hero-banner {
  position: relative;
  background-color: $secondary;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7a/2k_Dissolve_Noise_Texture.png');
  display: flex;
  justify-content: center;
}

.carousel-caption {
  color: $body-color;
}

.carousel-caption {
    position: absolute;
    text-transform: uppercase;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    color: $body-color;
    text-align: center
}


.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  margin-bottom: 110px;
  color: $body-color;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $body-bg;
}

.carousel-dark .carousel-caption {
    color: $body-color;
}


.carousel-control-prev,.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 15%;
    padding: 0;
    color: $body-color !important;
    text-align: center;
    background: none;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

// grid listing
.card {
  position: relative;
  border: none;
  flex: 1 1 100%;
  margin: 31px 0;
  padding: 15px 0;
  background: lighten($secondary, 4%);

  box-shadow:  0.3px 0.5px 0.7px hsl(216, 48%, 28%, 0.34),
  0.4px 0.8px 1px -1.2px hsl(216, 48%, 28%, 0.34),
  1px 2px 2.5px -2.5px hsl(216, 48%, 28%, 0.34);
  
  &-title {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(33.33% - (#{31px * 2} + #{20px * 2}));
    margin: 0 31px;
  }
 
}

/*event cards for quarto listing*/

.event-card {
  
  .card-img-top {
  width: 100%;
  height: 33vw;
  object-fit: cover;
  }

  .card-details {
    font-size: .85rem;
    padding: 1rem;
    margin-bottom: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .card-read-more {
    border-top: 1px solid $gray-300;
    text-align: center;
  }
  
  .card-read-more a {
    text-decoration: none !important;
    padding: 8px;
    font-weight: 600;
    text-transform: uppercase;
  }
}


/* grid cards */
h5, .h5{
  font-family: $font-family-sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: bold;
  
}



.quarto-grid-item {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow:
      0.3px 0.5px 0.7px hsl(216, 48%, 28%, 0.36), 
      0.8px 1.6px 2px -0.8px hsl(216, 48%, 28%, 0.36), 
      2.1px 4.1px 5.2px -1.7px hsl(216, 48%, 28%, 0.36), 
      5px 10px 12.6px -2.5px hsl(216, 48%, 28%, 0.36); 
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: .5em;
}

.quarto-grid-item .listing-categories .listing-category {
  color: $primary;
  border: solid 1px $primary !important;
  font-weight: 400;
  font-size: .7em;
}


// info section-click link

.icon {
  display: flex;
  color: $primary;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 1px solid $primary;
  font-size: 70px;
  width: 100px;
  height: 90px;
  border-radius: 100%;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}




// info bar-button

.info-bar-wrapper {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}


// blockquotes

blockquote {
  color: $text-muted;
}



// committees listing 

.committee-list {
  font-family: $font-family-sans-serif;

  .title {
    font-size: 1.5rem;
  }

  .committees-table {
    margin-top: 1rem;
    font-size: 0.9375rem;
    border: 1px solid hsl(213, 33%, 93%);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

    .header {
      background-color: $primary;
      border-bottom-color: $primary;
      border-bottom-width: 1px;
      color: #FBF9F4;

      &[aria-sort]:hover,
      &[aria-sort]:focus {
        color: hsl(213, 55%, 50%);
      }
    }

    .committee-title {
      font-size: 1.3rem;
      font-weight: 600;
      color: $primary;
    }

    .committee-detail {
      padding: 24px;
      box-shadow: inset 0 1px 3px $gray;
      background: shift-color(#FBF9F4, -55%);
      font-family: $font-family-sans-serif;

      .detail-label {
        margin: 1.25rem 0 0.25rem;
        font-size: 0.95rem;
        color: $steel;
        text-transform: uppercase;
      }

      .detail-header {
        margin-bottom: 1rem;
        font-size: 1.35rem;
        font-weight: 600;
      }

      .detail-title {
        margin-left: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: $gray-dark;
      }

      .detail-description {
        font-size: 0.875rem;
      }
    }

    .members-table {
      max-width: 75rem;
      border: 1px solid hsl(213, 33%, 93%);
      border-radius: 4px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.05);
      font-size: 0.875rem;
      font-family: $font-family-sans-serif;
    }
  }
}

// syllabi table with reactable()

.syllabi {
  font-family: 'Proza Libre', sans-serif;
  
  h2 {
    font-weight: 600;
  }
  
  a {
    color: $yellow;
    text-decoration: none;
    
    &:hover, &:focus {
      text-decoration: underline;
      text-decoration-thickness: max(1px, 0.0625rem);
    }
  }
}

.syllabi-tbl {
  margin-top: 1rem;
  font-size: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: -32px;
  
  .filter-checkbox {
    margin-top: 0.5rem;
    margin-left: 35px;
    flex: 1;
    min-width: 250px;
    
    label {
      color: $gray-dark;
      font-weight: 700;
      font-size: 1.15rem;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    .control-label {
    margin-bottom: 0;
    color: $gray-500;
    vertical-align: middle;
}
}
    
  .filter-input {
    margin-top: 0.5rem;
    margin-left: 35px;
    flex: 1;
    min-width: 250px;
    
    label {
      color: $gray-dark;
      font-weight: 700;
      font-size: 1.15rem;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    
    .control-label {
    margin-bottom: 0;
    color: $gray-500;
    vertical-align: middle;
}
    
    select,
    input[type="search"] {
      padding: 0 0.375rem;
      height: 2rem;
    }
  }
}

/* When selected, the text is yellow */
.header[aria-sort='ascending'],
.header[aria-sort='descending'] {
  color: $gray-600;
}

@media only screen and (max-width: 800px) {
  .screen-inset {
    .my-reactable-table {
      font-size: 14px;
      width: 100%;

      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        border: 1px solid #ccc;
      }

      td {
        // Behave like a "row"
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
      }

      td:before {
        // Now like a table header
        position: absolute;
        // Top/left values mimic padding
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;

        // Use content to grab data-attributes, if needed
        // content: attr(data-th) ": ";
        // You can use data-th attribute in your HTML to populate this
      }
    }
    
    .crosstalk-filtered-select {
      width: 100%;
    }
    
    .crosstalk-filtered-checkbox {
      display: block;
      margin-bottom: 10px;
    }
  }
}



// Pricing tables for membership
.price-card {
  border-bottom-width: 2px;
  border-color: rgba(0, 0, 0, .08);
  border: 1px;
  background-color: $body-bg;
  box-shadow:
    0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.36),
    0.8px 1.6px 2px -0.8px hsl(0deg 0% 63% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0deg 0% 63% / 0.36),
    5px 10px 12.6px -2.5px hsl(0deg 0% 63% / 0.36);
  border-radius: 0px;
  transition: all .3s ease-in-out;
  padding: 1.1rem 0;
  position: relative;
  will-change: transform;

  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: $primary;
    transition: 0.5s;
  }
  
  &:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
    
    &:after {
      width: 100%;
    }
    
  }
  & .price-card-header {
    background-color: $body-bg;
    padding-left: 2rem;
    border-bottom: 0px;
  }
  & .price-card-title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  & .price-card-block {
    padding-top: 0;
  }
  & .price-card-subtitle{
    letter-spacing: 0;
    color: $gray-800;
    //font-variant: small-caps;
    font-size: .9rem;
    margin-left: 5px;
    //text-align: center;
    margin-bottom: .6rem;
  }
  .list-group-item {
  border: 0px;
  padding: .25rem;
  color: $gray-dark;
  font-weight: 300;
  font-size: 1rem;
  list-style: none; /* Remove default list item bullets */
  position: relative; /* Create a relative position for ::before pseudo-element */
  margin-left: 30px; /* Indent the list items by 30px */
  display: flex; /* Use a flexbox layout */
  align-items: center; 
  margin-bottom: .5rem;
  
  &::before {
    content: '\f058'; /* Unicode character for the circle check icon */
    font-family: 'Font Awesome 5 Free'; /* Font Awesome font family */
    font-weight: 900; /* Font weight for the circle check icon */
    margin-right: 10px; /* Space between the icon and text */
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    text-align: center;
    color: $primary; /* Color of the icon */
    font-size: 1rem; /* Font size of the icon */
    position: absolute;
    left: -30px; /* Adjust the position as needed */
  }
}
}

// Price in header for price table
.display-2 {
  font-size: 7rem;
  letter-spacing: -.35rem;
  font-family: $headings-font-family;
  color: $primary;
  & .currency {
    font-size: 2.75rem;
    position: relative;
    font-weight: 300 + 100;
    top: -45px;
    letter-spacing: 0px;
  }
  & .period {
    font-size: 1.5rem;
    color: lighten($gray-dark, 20%);
    letter-spacing: 0px;
  }
}

// Pricing Buttons
.price-btn {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 300 + 200;
  color: lighten($gray-dark, 15%);
  border-radius: 0;
  padding: .75rem 1.25rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.price-btn-gradient { 
  background-color: $body-bg;
  transition: background .3s ease-in-out;
  
  &:hover {
    color: white;
    background-color: $primary;
  }
}


// iframe for newsletters embedded on pages

iframe.news {
  border: 3px solid $gray-700;
  width: 100%;
  height: 100%;
}

.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}

