/*-- scss:defaults --*/

// Import fonts 
@import url(https://https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@font-face {
  font-family: "Metropolis";
  font-weight: "Black";
  font-style: normal;
  src: url("assets/fonts/Metropolis-Black.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Black";
  font-style: italic;
  src: url("assets/fonts/Metropolis-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Bold";
  font-style: normal;
  src: url("assets/fonts/Metropolis-Bold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Bold";
  font-style: italic;
  src: url("assets/fonts/Metropolis-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "ExtraBold";
  font-style: normal;
  src: url("assets/fonts/Metropolis-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "ExtraBold";
  font-style: italic;
  src: url("assets/fonts/Metropolis-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "ExtraLight";
  font-style: normal;
  src: url("assets/fonts/Metropolis-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "ExtraLight";
  font-style: italic;
  src: url("assets/fonts/Metropolis-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Light";
  font-style: normal;
  src: url("assets/fonts/Metropolis-Light.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Light";
  font-style: italic;
  src: url("assets/fonts/Metropolis-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Medium";
  font-style: normal;
  src: url("assets/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Medium";
  font-style: italic;
  src: url("assets/fonts/Metropolis-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Regular";
  font-style: normal;
  src: url("assets/fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "Regular";
  font-style: italic;
  src: url("assets/fonts/Metropolis-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "SemiBold";
  font-style: normal;
  src: url("assets/fonts/Metropolis-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: "SemiBold";
  font-style: italic;
  src: url("assets/fonts/Metropolis-SemiBoldItalic.woff") format("woff");
}

// Assign fonts
$font-family-sans-serif: 'Metropolis';

// headings
$presentation-heading-color: #d00000 !default;
$presentation-heading-font-weight: 600 !default;
$presentation-title-slide-text-align: left !default;
$presentation-h1-font-size: 2.0em !default;
$presentation-h2-font-size: 1.75em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h3-color: #272822 !default;

h3 {
  color: #272822 !important;
}

// Other
$body-bg: #fefdfa;
$body-color: #000;
$link-color: #d00000;
$selection-bg: #272822 !default;
$selection-color: #f5f1e7 !default;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}



// Title slide
#title-slide {
  text-align: left;
}

.title {
  padding-top: 200px !important;
  font-size: 1.35em !important;
}

.subtitle {
  color: #272822 !important;
  font-size: 1.25em !important;
  line-height: 0.75em !important;
}

.author {
  text-align: left !important;
  font-size: 0.90em !important;
  line-height: 0.75em !important;
} 

.institute {
  font-size: 0.90em !important;
  line-height: 0.85em !important;
}

.date {
  font-size: 0.90em !important;
  line-height: 0.85em !important;
}



// Tables
table, th, td {
  border-top: 2px solid !important;
  border-color: transparent !important;
  line-height: 0.75em !important;
  padding-bottom: 10px !important;
}

caption {
  padding-top: 50px !important;
  padding-left: 20px !important;
  text-align: left !important;
  color: #c7c8ca !important;
}


/* emphasis */
.emph {
  color: #d00000 !important;
}

/* Transition slide */
.transition {
  background-color: #242423 !important;
}

.transition h1 {
  color: #d00000 !important;
}

.transition p {
  font-size: 1.6em !important;
  font-family: "Yanone Kaffeesatz";
}




/* Final slide */
.final {
  background-color: #242423 !important;
}

.final h2 {
  color: #d00000 !important;
  text-align: center;
}

.final h3 {
  text-align: center;
}

.final p {
  text-align: center;
}

.final table, th, td {
  border-top: 2px solid;
  border-color: #242423;
  line-height: 0.75em !important;
}


/*-- scss:rules --*/

.inverse {
  color: #d6d6d6;
  h1, h2, h3 {
    color: #f3f3f3;
  }

  a {
    color: #d00000;
  }

  p code {
    color: #ffff00;
  }

  .slide-background-content {
    background-color: #242423;
  }

    .callout-caption {
    color: $body-color;
  }

  pre {
    background-color: #242423;
  }

  pre code {
    background-color: #242423;
    color: #ebebea
  }

  pre.sourceCode code {
      background-color: #242423;
      padding: 6px 9px;
      max-height: 500px;
      white-space: pre
  }

  pre > code.sourceCode > span {
    color: #f8f8f2;
  }

  code span {
    color: #f8f8f2;
  }

  code.sourceCode > span {
    color: #f8f8f2;
  }

  div.sourceCode,
  div.sourceCode pre.sourceCode {
    color: #f8f8f2;
  }

  code span.ot {
    color: #ffa07a;
  }

  code span.at {
    color: #ffd700;
  }
}
