/* css styles */

/* @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css); */

.borderless{
  background-color: #FBF9F4;
}


/*misc*/
.center {
  position: absolute;
  text-align: center;
}

.vspace {
     margin-bottom: 1cm;
  }
  
 .vspace2 {
     margin-bottom: 2.5cm;
     padding: 1%;
  }

.hspace {
     margin-left: 5cm;
     padding: 1%;
  }


/*carousel*/

.card .source-code {
  margin-top: 3px;
}

.carousel.card {
  font-size: 1.2rem;
  padding-top: 2em;
  background-color: #1B3264;
}

.carousel.card a {
  color: #FBF9F4;
  text-decoration: none;
}

.carousel img {
  width: 70%;
  margin-bottom: 110px;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  margin-bottom: 110px;
  color: #1B3264;
}


/*more info link thing*/

.all-link{
  font-size: 1em;
  text-align: right;
}

.all-link a{
  text-decoration: none;
  text-transform: uppercase;
}

.all-link a::after{
  display: inline-block;
  content: "→";
  position: relative;
  margin-left: 2px;
}

.about-link{
  font-size: 1em;
  float: right;
}

.about-link a{
  text-decoration-color: #1B3264;
  text-transform: uppercase;
}

.about-link a::after{
  display: inline-block;
  content: "→";
  position: relative;
  margin-left: 2px;
}

/*more info link thing for dark background*/

.light-about-link{
  font-size: 1em;
  float: right;
}

.light-about-link{
  text-decoration-color: #FBF9F4;
  text-transform: uppercase;
}

.light-about-link a {
  color: #FFFF00; /* sets the text color to yellow */
  background-color: #1B3264; /* sets the background color to black */
}

.light-about-link a::after{
  display: inline-block;
  content: "→";
  position: relative;
  margin-left: 2px;
}

/*create background sections*/

.blue-background {
  background-color: #1B3264;
}

.home-section {
    background-color: #FBF9F4;
    padding: 10px 0;
    animation: intro .3s both;
    animation-delay: .15s;
}


.light-section {
  background-color: #FBF9F4;
  color: #252525;
}

.dark-section {
  background-color: #1B3264;
  color: #FBF9F4;
}

.bright-section {
  background-color: #FAF61B
  color: #1B3264;
}


.president-intro{
  margin-top: -30px;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
}

div.column.col-v-off-center{
   vertical-align: 55%;
}
